###### What is List? How will you reverse a list?

In [24]:
# List is python datatype and it is denoted by [ ..... ] 
# It is collection of datatypes (List allowed all datatypes)
# characteristics
#     -> ordered 
#     -> indexed
#     -> mutable

# Reverse list
list1 = [1,2,3,4,5]
print("Normal  :- %s"%list1)

#method 1
list1.reverse()
print("Reverse :- %s (using method 1)\n\n"%list1)

#method 2
list1 = [1,2,3,4,5]
print("Reverse :- %s (using method 2)\n\n"%list1[::-1])

#method 3
list2 = list(reversed(list1))
print("Reverse :- %s (using method 3)"%(list2))

Normal  :- [1, 2, 3, 4, 5]
Reverse :- [5, 4, 3, 2, 1] (using method 1)


Reverse :- [5, 4, 3, 2, 1] (using method 2)


Reverse :- [5, 4, 3, 2, 1] (using method 3)

##### How will you remove last object from a list? 
Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [-1]?

In [40]:

list1 = [2,33,222,14,25]
print(list1)
print("\nmethod 1 \nlast element before removing :- ",list1[-1])

list1.remove(list1[-1])
print("last element after removed : - ",list1[-1])

print("\n\n method 2")
list1 = [2,33,222,14,25]
print(" \nlast element before removing :- ",list1[-1])

list1.pop()
print("last element after removed : - ",list1[-1])

[2, 33, 222, 14, 25]

method 1
last element before removing :-  25
last element after removed : -  14


 method 2

last element before removing :-  25
last element after removed : -  14

##### Differentiate between append () and extend () methods?

In [ ]:
# append :- 
#     append(item) :- item is added (whole) at the end of list

# extend :- 
#     extend(item(iterable)) :- extend will added each element from iterable item at the end of 
#     list one by one

##### Write a Python function to get the largest number, smallest num and sum of all from a list.

In [43]:
lst = [12,42,15,94,217,40,46,66]
print(lst)
print("\nLargest number :- ",max(lst))
print("\nsmallest number :- ",min(lst))
print("\nsum of all number :- ",sum(lst))

[12, 42, 15, 94, 217, 40, 46, 66]

Largest number :-  217

smallest number :-  12

sum of all number :-  532

##### How will you compare two lists?

In [50]:
lst_1 = [32,96,87,13,65,24,3,896,0]
lst_2 = [32,96,87,13,65,24,3,896,0]

if lst_1 == lst_2:
    print(" both lists are same ")
else:
    print("both lists are diffrent")

 both lists are same

##### Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.

In [2]:
lists = input("Enter the strings (saparated by space):- ").split(' ')

print("Lists :- ",lists)

print('\n\n')
count = 0
for item in lists:
    if len(item) >= 2 and item[0]==item[-1]:
        count+=1
    
print('count :- ',count)

Enter the strings (saparated by space):- asdj as d das jasdhhj asdjjj sdakhs
Lists :-  ['asdj', 'as', 'd', 'das', 'jasdhhj', 'asdjjj', 'sdakhs']



count :-  2

##### Write a Python program to remove duplicates from a list.

In [23]:
lists = ['a','bc',9,1,2,2,1,50.4,'1']    
print(list(set(lists)))

[1, 2, '1', 'bc', 9, 'a', 50.4]

##### Write a Python program to check a list is empty or not.

In [29]:
list1 = []

if list1:
    print("list is not empty")
else:
    print("List is Empty")

list is not empty

##### Write a Python function that takes two lists and returns true if they have at least one common member.

In [34]:
list1 = [1,2,3,4,5]
list2=[43,212,54,12,0]

def check_common(list1:list,list2:list) -> bool:
    for item in list1:
        if list2.count(item) > 0:
            return True
    return False
check_common(list1,list2)

False

##### Write a Python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30.

[1, 2, 3, 3]

In [15]:
lst=[]
for i in range(1,31):
    lst.append(i**2)

list_final = lst[:5] + lst[25:]


print(list_final)

#159

[1, 4, 9, 16, 25, 676, 729, 784, 841, 900]

##### Write a Python function that takes a list and returns a new list with unique elements of the first list.

In [64]:
list_all = [11, 10, 5, 17, 16, 1, 14, 8, 13, 10, 9, 8, 9, 11, 19, 20, 2, 11, 16, 15, 2, 7, 19, 9, 13]


list_unq = list(set(list_all))

print(" all elements :- ",list_all)
print(" unique elements  :-",list_unq)

 all elements :-  [11, 10, 5, 17, 16, 1, 14, 8, 13, 10, 9, 8, 9, 11, 19, 20, 2, 11, 16, 15, 2, 7, 19, 9, 13]
 unique elements  :- [1, 2, 5, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 19, 20]

##### Write a Python program to convert a list of characters into a string.

In [36]:
list1 = ['a','p','p','l','e']

string = "".join(list1)

print("List : ",list1)
print("String : ",string)

List :  ['a', 'p', 'p', 'l', 'e']
String :  apple

##### Write a Python program to select an item randomly from a list.

In [231]:
import random
s = [1,2,3,4]

random = random.choice(s)

print(random)

2

##### Write a Python program to find the second smallest number in a list.

In [239]:
list1 = [3,123,21,312,31,453,45,65,786,78,7,546345,345,23,55465,47,5]

list1.remove(max(list1))
second_highest = max(list1)
print('Second largest number is :- ',second_highest)

# another method
# list1.sort()
# second_highest = list1[-2]
# print('Second largest number is :- ',second_highest)

Second largest number is :-  55465

##### Write a Python program to get unique values from a list

In [242]:
list1 = [12,3,434,23,54345,234215,6,547,56,35234,23,4345,5,465,4,423435,456,54,34,234,12,3234]

print("Unique Values are :- ",list(set(list1)))

Unique Values are :-  [3, 4, 5, 6, 423435, 12, 23, 35234, 547, 34, 3234, 434, 54, 56, 456, 54345, 465, 234215, 234, 4345]

##### Write a Python program to check whether a list contains a sub list

In [255]:
list1=[1,2,'a',3.4,'sss',1,2,3,{2,4}]
flag = False
for i  in list1:
    if type(i) == list:
        flag = True
        break
if flag:
    print("Given List contains sub list")
else:
    print("Given List does not contains sub list")

Given List does not contains sub list

##### Write a Python program to split a list into different variables.

In [1]:
lst = [1,2,3]

a,b,c = lst

print(a,b,c)

1 2 3

##### What is tuple? Difference between list and tuple.

  
 * List
    - indexed 
    - ordered 
    - multiple dataypes allowed 
    - **mutalbel**  
    - [....] sign of list


* tuple
     - indexed
     - ordered
     - multiple dataypes allowed
     - **immutalbel**
     - (....) sign of list

##### Write a Python program to create a tuple with different data types.

In [259]:
tuple_div = (1,'a',2.3,True,[1,2],(3,4))

##### Write a Python program to create a tuple with numbers.

In [271]:
t_num = tuple([i for i in range(1,10)])

print(t_num)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

##### Write a Python program to convert a tuple to a string.

In [273]:
t_str = ('this','is','python','program')

s = " ".join(t_str)

print(s)

this is python program

##### Write a Python program to check whether an element exists within a tuple.

In [278]:
tpl = (1, 2, 34.32, 'a', 'hello')

element_to_find = 2

if element_to_find in tpl:
    print("Given element is in tuple")
else:
    print("Given element in not in tuple")

Given element is in tuple

##### Write a Python program to find the length of a tuple.

In [281]:
tpl = ('a','b','v')

print("Lenght of tuple is :- ",len(tpl))

Lenght of tuple is :-  3

##### Write a Python program to convert a list to a tuple.

In [284]:
lst = [1,2,3,4]

lst_to_tpl = tuple(lst)

print("List  : ",lst," Type :- ",type(lst))
print("Tuple : ",lst_to_tpl," Type :- ",type(lst_to_tpl))

List  :  [1, 2, 3, 4]  Type :-  <class 'list'>
Tuple :  (1, 2, 3, 4)  Type :-  <class 'tuple'>

##### Write a Python program to reverse a tuple.

In [ ]:
tpl = (1,2,4,5)

rev_tpl pl

##### Write a Python program to replace last value of tuples in a list.

In [5]:
tpl = ('a','b','c','d','4')

print("before :- ",tpl)

ls_tpl = list(tpl)
ls_tpl[-1] = 'x'
tpl = tuple(ls_tpl)

print("after :- ",tpl)

before :-  ('a', 'b', 'c', 'd', '4')
after :-  ('a', 'b', 'c', 'd', 'x')

##### Write a Python program to find the repeated items of a tuple.

In [10]:
tpl = (12,3,213,21,4,421,321,31,423,12,321,3,12,3)
rep_item = []
for item in tpl:
    if tpl.count(item) > 1 and item not in rep_item:
        rep_item.append(item)

print('Repeted items are  :- ',rep_item)

Repeted items are  :-  [12, 3, 321]

##### Write a Python program to remove an empty tuple(s) from a list of tuples.

In [11]:
list1 = [(1,2),(),(3,42,2.4),(),('a','s')]

print("Before :- ",list1)

for i in list1:
    if not i:
        list1.remove(i)

print("After :- ",list1)

Before :-  [(1, 2), (), (3, 42, 2.4), (), ('a', 's')]
After :-  [(1, 2), (3, 42, 2.4), ('a', 's')]

##### Write a Python program to unzip a list of tuples into individual lists.

In [19]:
lst1 = [(1,2),(),(3,42,2.4),(),('a','s')]

ls = list(map(list,lst1))

print(ls)

[[1, 2], [], [3, 42, 2.4], [], ['a', 's']]

##### Write a Python program to convert a list of tuples into a dictionary.

In [25]:
lst = [('a',97),('b',98),('c',99)]

dict1 = dict(lst)

print(dict1)

{'a': 97, 'b': 98, 'c': 99}

##### How will you create a dictionary using tuples in python?

In [3]:
lst = (('harry',97),('kevin',98),('darvin',99))

dict1= dict(lst)

dict1

{'harry': 97, 'kevin': 98, 'darvin': 99}

##### Write a Python script to sort (ascending and descending) a dictionary by value.

In [29]:
a = [('a', 21), ('b', 34), ('v', 45), ('f', 343)]
a.sort()
print(a)

[('a', 21), ('b', 34), ('f', 343), ('v', 45)]

In [35]:
dict1 = {
    'a':21,
    'b':34,
    'v':45,
    'f':343
}
dict1.items()
ls = []
# method 1
ls = list(dict1.items())

ls.sort(key=lambda x:x[1])

dic1_sorted = dict(ls)
print(dic1_sorted)

{'a': 21, 'b': 34, 'v': 45, 'f': 343}

##### Write a Python script to concatenate following dictionaries to create a new one.

In [44]:
dict_1 = { "id":1,"name": 'kevin' }
dict_2 = { "name" : 'haward','marks':{
    'MATHS':20,
    'SCIENCE':30,
}}

d_to_l_1 = list(dict_1.items())
d_to_l_1.extend(list(dict_2.items()))
dict_12 = dict(d_to_l_1)

print(dict_12)

{'id': 1, 'name': 'haward', 'marks': {'MATHS': 20, 'SCIENCE': 30}}

In [58]:

d1 = {
    1:2,
    3:4,
    5:6,
}
d2={
    'a':97,
    'b':32,
    'd':1,
}
d3={}
for i in (d1,d2):
    d3.update(i)
    
print(d3)

{1: 2, 3: 4, 5: 6, 'a': 97, 'b': 32, 'd': 1}

##### Write a Python script to check if a given key already exists in a dictionary.

In [93]:
key = 1
dict1 = {
    'hello':'world',
    1:'int',
    'int':'-inf to +inf',
    'python': 'iprogramming language',
}

if key in dict1:
    print("key is in the dictionary ")
else:
    print("key is not in dictionary")

key is in the dictionary

##### How Do You Traverse Through A Dictionary Object In Python?

In [95]:
dict1 = {
    'id'   : '1927322',
    'name' : 'raily henry',
    'code' : '877889'
}

for item in dict1:
    print( item ," : ",dict1[item])

id  :  1927322
name  :  raily henry
code  :  877889

##### How Do You Check The Presence Of A Key In A Dictionary?

In [68]:
key = 1

#method 1
dict1 = {
    'hello':'world',
    1:'int',
    'int':'-inf to +inf',
    'python': 'iprogramming language',
}

if key in dict1:
    print("key is in the dictionary ")
else:
    print("key is not in dictionary")

key is in the dictionary

In [69]:
# method 2
key = 3
dict1 = {
    'hello':'world',
    1:'int',
    'int':'-inf to +inf',
    'python': 'iprogramming language',
}

if key in list(dict1.keys()):
    print("key is in the dictionary ")
else:
    print("key is not in dictionary")

key is not in dictionary

In [70]:
key = 1
dict1 = {
    'hello':'world',
    1:'int',
    'int':'-inf to +inf',
    'python': 'iprogramming language',
}

if key in dict1:
    print("key is in the dictionary ")
else:
    print("key is not in dictionary")

key is in the dictionary

In [71]:
key = 5
dict1 = {
    'hello':'world',
    1:'int',
    'int':'-inf to +inf',
    'python': 'iprogramming language',
}

if dict1.get(key):
    print("key is in the dictionary ")
else:
    print("key is not in dictionary")

key is not in dictionary

##### Write a Python script to print a dictionary where the keys are numbers between 1 and 15.

In [72]:
dict_5 = {}

for i in range(1,15):
    dict_5[i] = i*2.6 + i**2
dict_5

{1: 3.6,
 2: 9.2,
 3: 16.8,
 4: 26.4,
 5: 38.0,
 6: 51.6,
 7: 67.2,
 8: 84.8,
 9: 104.4,
 10: 126.0,
 11: 149.6,
 12: 175.2,
 13: 202.8,
 14: 232.4}

##### Write a Python program to check multiple keys exists in a dictionary

In [73]:
keys_toFind = ['Maharashtra', 'Gujrat','panjab']

capitals={
    
          "Maharashtra"   : "Mumbai", 
          "Telangana"     : "Hyderabad",
          "Gujrat"        : "Gandhinagar", 
          "Tamilnadu"     : "Chennai", 
          "Karnataka"     : "Bengaluru", 
          "Bihar"         : "Patna",
}

if set(keys_toFind).issubset(set(capitals.keys())):
    print("Yes all keys are exist in dictionary")
else:
    print("No some keys are does not exist in dictionary")

No some keys are does not exist in dictionary

##### Write a Python script to merge two Python dictionaries

In [74]:
one_dict =  {'a': 1, 'b': 2}
two_dict =  {'a': 100, 'b': 2, 'c': 3, 'd': 4}

one_dict.update(two_dict)

print(one_dict)

{'a': 100, 'b': 2, 'c': 3, 'd': 4}

##### Write a Python progr.am to map two lists into a dictionary

In [75]:
list_key = ['id','name','age','marks']
list_value = [1,'jenil','20',83]
dict_map = {}
for key in range(len(list_key)):
    dict_map.update({list_key[key]:list_value[key]})
    
dict_map

{'id': 1, 'name': 'jenil', 'age': '20', 'marks': 83}

##### Write a Python program to combine two dictionary adding values for common keys. 
 
 d1 = {'a': 100, 'b': 200, 'c':300} o d2 = {'a': 300, 'b': 200,’d’:400}  
 Sample output: Counter ({'a': 400, 'b': 400,’d’: 400, 'c': 300}).

In [76]:
d1 = {'a': 100, 'b': 200, 'c':300} 
d1.values()

dict_values([100, 200, 300])

In [77]:
d2 = {'a': 100, 'b': 200, 'c':300} 
d1 = {'a': 300, 'b': 200,'d':400}

for item in d2:
    if item in d1:
        d1[item] += d2[item]
    else:
        d1.update({item:d2[item]})

d1

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

##### Write a Python program to print all unique values in a dictionary.

In [78]:
dict_3 = {'a': 400, 'b': 400, 'd': 400, 'c': 300}

print("Unique values are :- ",list(set(dict_3.values())))

Unique values are :-  [400, 300]

##### Why Do You Use the Zip () Method in Python?

In [3]:
# zip method gives a pair of element from given iterable 

# -> if we have given two iterable then zip() gives two element each time form iterabels 
# -> it will give a pairs in form of tuple
#   example :
a=[1,2,3,4,5]
b=['a','b','c','d']

for i in zip(a,b):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

##### Write a Python program to create and display all combinations of letters, selecting each letter from a different key in a dictionary. 
Sample data: {'1': ['a','b'], '2': ['c','d']} 

Expected Output: 
ac ad bc bd

In [9]:
data = {'1': ['a','b'], '2': ['c','d']}

values = list(data.values())
output=[]
for i in values[0]:
    for j in values[1]:
        output.append(i+j)
    
output

['ac', 'ad', 'bc', 'bd']

##### Write a Python program to find the highest 3 values in a dictionary

In [79]:
 dict9 = {1: 3.6,
 7: 67.2,
 8: 84.8,
 3: 16.8,
 12: 175.2,
 4: 26.4,
 6: 51.6,
 5: 38.0,
 9: 104.4,
 10: 126.0,
 14: 232.4,
 11: 149.6,
 13: 202.8,
 2: 9.2,
}

##### Write a Python program to combine values in python list of dictionaries. 
Sample data: [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 
300}, o {'item': 'item1', 'amount': 750}] 

Expected Output:
Counter ({'item1': 1150, 'item2': 300})

In [13]:
data =  [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300},  {'item': 'item1', 'amount': 750}]

op_dict={}

for d in data:
    print(d)
    if d['item'] in op_dict:
        op_dict['item'] += d['amount']
    else:
        op_dict.update({d['item']:d['amount']})

op_dict

{'item': 'item1', 'amount': 400}
{'item': 'item2', 'amount': 300}
{'item': 'item1', 'amount': 750}

KeyError: 'item'

##### Write a Python program to create a dictionary from a string. 
Note: Track the count of the letters from the string.

Sample string: 'w3resource' 

Expected output: 
{'3': 1,’s’: 1, 'r': 2, 'u': 1, 'w': 1, 'c': 1, 'e': 2, 'o': 1}

In [80]:
str1 = 'w3resource'
dict_4 = {}
for k in str1:
    dict_4.update({k:str1.count(k)})

dict_4

{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}


##### Write a Python function to calculate the factorial of a number (a nonnegative integer)

In [4]:
def factorial(n:int) -> int :
    mul = 1
    for i in range(1,n+1):
        mul*=i
    return mul
n = int(input("Enter the number :- "))
print(n,"! :-",factorial(n))

Enter the number :- 3
3 ! :- 6

##### Write a Python function to check whether a number is in a given range

In [17]:
def In_range(value,lower,upper):
    return value in range(lower,upper)

In_range(9,0,10)

True

##### Write a Python function to check whether a number is perfect or not.

In [58]:
def is_perfect_number(number):
    i =2
    res=0
    while i < number:
        if number%i==0:
            res += i
        i+=1

    return number == res+1

num = int(input("Enter the number :- "))

if is_perfect_number(num):
    print(num,"is perfact number")
else:
    print(num," is Not perfect number")

Enter the number :- 569
569  is Not perfect number

##### Write a Python function that checks whether a passed string is palindrome or not

In [62]:
def check_pelindrom(str_check):
    if len(str_check) == 0:
        return False
    return str_check == str_check[::-1]

string = input("Enter the string to check :- ")

if check_pelindrom(string):
    print("\n\n -->  Given string  '%s'  is pelindrom"%(string))
else:
    print("\n\n -->  Given string    '%s'    is not pelindrom"%(string))

Enter the string to check :- hiih


 -->Given string  'hiih'  is pelindrom

##### How Many Basic Types Of Functions Are Available In Python?

In [ ]:
In python 3 type of functions are available

1. user-define functions
2. built-in functions
3. anonymous functions

##### How can you pick a random item from a list or tuple?

In [80]:
import random as rd
lst = ['kevin','nayan','harsh','rahul']

print(rd.choice(lst))

rahul

##### How can you pick a random item from a range?

In [160]:
rd.randrange(0,100)

20

##### How can you get a random number in python?

In [167]:
rd.random()

0.5377769038534868

##### How will you set the starting value in generating random numbers?

In [184]:
rd.randint(3,10)

5

##### How will you randomizes the items of a list in place?

##### Write a Python program to read a random line from a file.

##### Write a Python program to convert degree to radian

In [190]:
math.pi

3.141592653589793

In [195]:
degree = float(input("Enter the degree :- "))

radian =  degree * (math.pi / 180)

print(degree,"° = ",radian,'rad')

Enter the degree :- 4
4.0 ° =  0.06981317007977318 rad

##### Write a Python program to calculate the area of a trapezoid

In [17]:
print("enter value of :- ")
a = int(input("a : "))
b = int(input("b : "))
h = int(input("h : "))

are_trapezoid = ( ( a + b ) / 2 ) * h

print("Area of trapezoid is :- ",are_trapezoid)

enter value of :-
a : 2
b : 6
h : 5
Area of trapezoid is :-  20.0

##### Write a Python program to calculate the area of a parallelogram

In [18]:
base = int(input("base : "))
height = int(input("height : "))

area_parallelogram = base * height

print("Area of parallelogram of given parameters:- ",area_parallelogram)

base : 8
height : 6
Area of parallelogram of given parameters:-  48

##### Write a Python program to calculate surface volume and area of a cylinder

In [27]:

radius = float(input("Enter  radius :- (in cm)"))
height = float(input("Enter  Height :- (in cm)"))

pi = 3.14

volume_cylinder =  pi * (radius ** 2) * height

area_cylinder = (2 * pi * radius) * (radius + height)

print("\nvolumne :- ",volume_cylinder,"cm^2")
print("Area :- ",area_cylinder,'cm^3')

Enter  radius :- (in cm)3
Enter  Height :- (in cm)4

volumne :-  113.04 cm^2
Area :-  131.88 cm^3

##### Write a Python program to returns sum of all divisors of a number

In [41]:
num = int(input("Enter the number :- "))

sum_devisor = 1
i=2
while i < num:
    
    if num%i == 0:
        sum_devisor += i
    i+=1

print("Sum of all divisor is :- ",sum_devisor)

Enter the number :- 54
Sum of all divisor is :-  66

##### Write a Python program to find the maximum and minimum numbers from the specified decimal numbers.